{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<h1>{{ current_user.username }}的密码本</h1>
<div class="row">
    <div class="col-md-4">
        {{ wtf.quick_form(form) }}
    </div>
</div>
<table id="passwordTable" class="table table-hover">
    <caption>
        <a href="{{ url_for('addpassword') }}" class="btn btn-success" role="button">添加的密码</a>
    </caption>
    <thead>
        <tr>
            <th>属性</th>
            <th>账户</th>
            <th>密码</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        {% for password in my_passwords %}
        <tr>
            <td>{{ password.password_attribute }}</td>
            <td>{{ password.password_account }}</td>
            <td>{{ password.password_body }}</td>
            <td>
                <a href="{{ url_for('editpassword', password_id=password.id) }}" class="btn btn-primary" role="button">修改</a>
                <a href="{{ url_for('deletepassword', password_id=password.id) }}" class="btn btn-danger" role="button">删除</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}